body {
    background-color: brown;
}
.titulo-pagina {
    font-size: 24pt;
    margin: 40px 10px 10px 10px;
}


.subtitulo-pagina {
    font-size: 20pt;
    margin: 40px 10px 20px 10px;    
}


.link-pagina{
    font-weight: 10;
    margin: 20px 20px 50px 20px;

}

.artigo{
    margin: 20px 20px 20px 20px;

} 
.paragrafo{
    margin:20px 0 20px 0;
}

.banner-header {
    width: 100px;/*largura*/
    height: 30px;/*altura*/
    object-fit: cover; /*ajuste do objeto bolsa*/
    object-position:0 100%;
}
.banner-header   





    

    
     
        
        
    

