body
.titulo-pagina {
    font-size: 24pt;
    margin: 40px 10px 10px 10px;
}

.subtitulo-pagina {
    font-size: 20pt;
    margin: 40px 10px 20px 10px;
}

    





    

    
     
        
        
    

